In [27]:
import pandas as pd
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Fish.csv')
df.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [6]:
df.shape

(159, 8)

In [7]:
df.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [8]:
df.describe

<bound method NDFrame.describe of      Category Species  Weight   Height   Width  Length1  Length2  Length3
0           1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...     ...     ...      ...     ...      ...      ...      ...
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6   Smelt    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6   Smelt    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6   Smelt    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6   Smelt    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]>

In [9]:
y = df['Weight']
y.shape

(159,)

In [10]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [22]:
X = df[['Height','Width','Length1','Length2','Length3']]
X.shape

(159, 5)

In [12]:
X

      Height   Width  Length1  Length2  Length3
0    11.5200  4.0200     23.2     25.4     30.0
1    12.4800  4.3056     24.0     26.3     31.2
2    12.3778  4.6961     23.9     26.5     31.1
3    12.7300  4.4555     26.3     29.0     33.5
4    12.4440  5.1340     26.5     29.0     34.0
..       ...     ...      ...      ...      ...
154   2.0904  1.3936     11.5     12.2     13.4
155   2.4300  1.2690     11.7     12.4     13.5
156   2.2770  1.2558     12.1     13.0     13.8
157   2.8728  2.0672     13.2     14.3     15.2
158   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 5 columns]

In [23]:
from sklearn.model_selection  import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state=2529)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 5), (48, 5), (111,), (48,))

In [24]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()
model.fit(X_train, y_train)
y_pred= model.predict(X_test)
y_pred.shape

(48,)

In [25]:
y_pred

array([ 485.76826299,  502.24720857,   94.72381964,  876.5711712 ,
        184.0789176 ,  219.30130488,  322.32532246,  376.22325991,
        372.35730485, -182.67537078, -160.60486837,  454.33586185,
        159.59755829,  843.48525226,  587.21680573,  299.53521445,
        597.72950823,  197.14605397,  639.89046741,   91.20067876,
        150.95424753, -103.08320574,  627.19712753,  795.69176861,
        814.68732975, -204.1496511 ,  329.98746856,  715.89288013,
        359.75634357,  792.3243925 ,  532.7036706 ,  552.00832342,
        433.48472727,  687.61750267, -204.76362537,  932.53668294,
        810.74234216,  -80.06217174,  284.36287887,  907.08036021,
        642.5828335 ,  959.33848223,  675.28792291,  718.86305458,
        623.89849226,  376.48346981,  530.83828119,  -86.2357066 ])

In [39]:
from sklearn.metrics import mean_squared_error, r2_score

In [33]:
mean_squared_error(y_test,y_pred)

16397.34452441135

In [34]:
mean_absolute_error(y_test,y_pred)

103.02952922678537

In [40]:
r2_score(y_test,y_pred)

0.834914142441688

In [42]:
df_new= df.sample(1)
df_new

     Category Species  Weight  Height   Width  Length1  Length2  Length3
158         6   Smelt    19.9  2.9322  1.8792     13.8     15.0     16.2

In [44]:
X_new = df_new[['Height','Weight','Length1','Length2','Length3']]
X_new.shape

(1, 5)

In [ ]:
y_pred_new